/*@import '../Library/pretty-checkbox-master/src/pretty-checkbox.scss';*/

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.icon_navbar {
    float: left;
    height: auto !important; 
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}
.icon_size{
    height: 35px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
/*footer {
    background-color: #555;
    color: white;
    padding: 15px;
}*/

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}




body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.right_menu{
    background-color: #000;
}
.add-padding-top{
    padding-top:  10px;
}
.login-container{
    padding-top: 10px;
    width: 400px;
    height: auto;
    margin: auto;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
}
.wrapper-login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}